<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Invitations</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../css/ready.css">
    <link rel="stylesheet" href="../../css/demo.css">
    <script src="../../js/core/jquery.3.2.1.min.js"></script>
    <script src="../../js/core/bootstrap.min.js"></script>
    <script src="../../js/core/popper.min.js"></script>
    <script src="../../js/demo.js"></script>
    <script src="../../js/ready.js"></script>
    <script src="../../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="../../js/plugin/chart-circle/circles.min.js"></script>
    <script src="../../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <script src="../../js/plugin/chartist/chartist.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/france_departments.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/france_departments.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/usa_states.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_mercator.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_mercator.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_miller.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_miller.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="../../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
</head>
<body>
<form th:replace="nav-bar.html :: nav-bar"></form>


<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <table class="table-sm table  bg-light table-hover center">
                <tr class="table-secondary">
                    <th th:text="#{invitation.label.team}">Team</th>
                    <th th:text="#{invitation.label.creator}">Creator</th>
                    <th th:text="#{invitation.label.request}">Request</th>

                </tr>
                <tr th:each="invitation : ${invitations}">
                    <td>
                        <a href="#" th:href="@{/teams/{id}/members(id=${invitation.getTeam().getId()})}"
                           th:text="${invitation.getTeam().getName()}">name</a>
                    </td>
                    <td>
                        <a href="#" th:href="@{/users/{id}(id=${invitation.getTeam().getOwner().getId()})}"
                           th:text="${invitation.getTeam().getOwner().getFirstName()} + ' ' + ${invitation.getTeam().getOwner().getLastName()}">creator</a>
                    </td>

                    <td>

                        <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                              th:object="${invitationResponse}" method="post">

                            <input class="form-control"
                                   type="hidden"
                                   th:value="${invitation.getId()}" id="invitationId" name="invitationId"/>
                            <select th:field="*{accepted}">
                                <option value="true">Accept</option>
                                <option value="false">Decline</option>
                            </select>
                            <input type="submit" class="btn btn-primary" value="Save"/>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdatePro"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"><i class="la la-frown-o"></i> Under Development</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Currently the pro version of the <b>Ready Dashboard</b> Bootstrap is in progress development</p>
                <p>
                    <b>We'll let you know when it's done</b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/demo.js"></script>
</html>