<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Ready Bootstrap Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../css/ready.css">
    <link rel="stylesheet" href="../css/demo.css">
    <script src="../js/core/jquery.3.2.1.min.js"></script>
    <script src="../js/core/bootstrap.min.js"></script>
    <script src="../js/core/popper.min.js"></script>
    <script src="../js/demo.js"></script>
    <script src="../js/ready.js"></script>
    <script src="../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="../js/plugin/chart-circle/circles.min.js"></script>
    <script src="../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <script src="../js/plugin/chartist/chartist.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/france_departments.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/france_departments.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/usa_states.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_mercator.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_mercator.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_miller.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_miller.min.js"></script>
    <script src="../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

</head>
<body>
<ul th:fragment="nav-bar" action="#" th:action="@{__${#httpServletRequest.requestURI}__}">
    <div class="wrapper">
        <div class="main-header">
            <div class="logo-header">
                <a href="http://localhost:8080/" class="logo text-left">
                    <img src="http://prcare.bg/wp-content/themes/subway/img/logo.png" alt="logo" width="180">

                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

                        <li th:unless="${isAuthenticated} "><a th:href="@{/auth/login}" type="button" class="btn btn-light"
                                                               href="#">Login</a></li>
                        <li th:unless="${isAuthenticated}"><a th:href="@{/auth/register}" type="button"
                                                              class="btn btn-light" href="#">Register</a></li>
                        <li th:if="${isAuthenticated}" class="nav-item dropdown">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <img th:src="'http://localhost:8080/api/users/photo/' + ${loggedUser.getPhotoName()}"
                                     alt="user-img" width="36"
                                     class="img-circle"><span
                                    th:text="${loggedUser.getFirstName()} + ' ' + ${loggedUser.getLastName()} ">User's name</span></span>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <div class="user-box">
                                        <div class="u-img"><img
                                                th:src="'http://localhost:8080/api/users/photo/' + ${loggedUser.getPhotoName()}"
                                                alt="user"></div>
                                        <div class="u-text">
                                            <h4 th:text="${loggedUser.getFirstName()}">User's first name'</h4>
                                            <p class="text-muted" th:text="${loggedUser.getEmail()}">email</p><a
                                                th:href="'/users/' + ${loggedUser.getId()}"
                                                class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                    </div>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li><a th:href="@{/auth/logout}" type="button" class="btn btn-light" href="#">Logout</a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <li th:if="${isAuthenticated}" class="sidebar">
            <div class="scrollbar-inner sidebar-wrapper">

                <ul class="nav">
                    <li class="nav-item active bg-info">
                        <a href="/work_items/new">
                            <i class="la la-flask"></i>
                            <p th:text="#{workItem.navigation.create}">Create</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/work_items/created">
                            <i class="la la-sticky-note"></i>
                            <p th:text="#{workItem.navigation.created}">Created</p>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/work_items/for_review">
                            <i class="la la-gavel"></i>
                            <p th:text="#{workItem.navigation.for-review}">fpr review</p>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/work_items/pending">
                            <i class="la la-suitcase"></i>
                            <p th:text="#{workItem.navigation.pending}">pending</p>
                            <span th:if="${#lists.size(pendingWorkItems) > 0}" class="badge badge-danger" th:text="${#lists.size(pendingWorkItems)}">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/teams">
                            <i class="la la-group"></i>
                            <p th:text="#{team.navigation.my-teams}">pending</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/users/invitations">
                            <i class="la la-bell"></i>
                            <p th:text="#{invitation.navigation.invitations}">Invitations</p>
                            <span th:if="${#lists.size(invitations) > 0}" class="badge badge-danger" th:text="${#lists.size(invitations)}">number</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/teams/new">
                            <i class="la la-sitemap"></i>
                            <p th:text="#{invitation.navigation.create}" >Create team</p>

                        </a>
                    </li>
                </ul>
            </div>
        </li>
</body>
</html>