<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title> Teams</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../css/ready.css">
    <link rel="stylesheet" href="../../css/demo.css">
    <script src="../../js/core/jquery.3.2.1.min.js"></script>
    <script src="../../js/core/bootstrap.min.js"></script>
    <script src="../../js/core/popper.min.js"></script>
    <script src="../../js/demo.js"></script>
    <script src="../../js/ready.js"></script>
    <script src="../../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="../../js/plugin/chart-circle/circles.min.js"></script>
    <script src="../../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <script src="../../js/plugin/chartist/chartist.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/france_departments.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/france_departments.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/usa_states.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_mercator.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_mercator.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_miller.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_miller.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="../../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
</head>
<body>
<form th:replace="nav-bar.html :: nav-bar"></form>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <table class="table-sm table  bg-light table-hover center">
                    <tr class="table-secondary">
                        <th th:text="#{team.label.name}">Name</th>
                        <th th:text="#{team.label.creator}">Creator</th>
                        <th th:text="#{team.label.members}">Members</th>
                        <th th:text="#{team.label.pending}">Pending work items</th>
                        <th th:text="#{team.label.leav}">Leaving</th>
                    </tr>
                    <tr th:each="team : ${teams}">
                        <td>
                            <a th:text="${team.getName()}">Name</a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/users/{id}(id=${team.getOwner().getId()})}" th:text="${team.getOwner().getFirstName()} + ' ' + ${team.getOwner().getLastName()}">Name</a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/teams/{id}/members(id=${team.getId()})}"  class="btn btn-primary btn-border btn-round" th:text="#{team.label.members}">Name</a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/work_items/team/{id}(id=${team.getId()})}" class="btn btn-primary btn-border btn-round" th:text="#{team.label.pending}">Name</a>
                        </td>
                        <td>
                            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                                  th:object="${teamId}" method="post">
                                <input class="form-control"
                                       type="hidden"
                                       th:value="${team.getId()}" id="teamId" name="teamId" />
                                <input type="submit" class="btn btn-primary bg-danger" value="Leave"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/demo.js"></script>
</html>