<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Create team</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../css/ready.css">
    <link rel="stylesheet" href="../css/demo.css">
    <script src="../js/core/jquery.3.2.1.min.js"></script>
    <script src="../js/core/bootstrap.min.js"></script>
    <script src="../js/core/popper.min.js"></script>
    <script src="../js/demo.js"></script>
    <script src="../js/ready.js"></script>
    <script src="../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="../js/plugin/chart-circle/circles.min.js"></script>
    <script src="../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <script src="../js/plugin/chartist/chartist.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/france_departments.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/france_departments.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/usa_states.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_mercator.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_mercator.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_miller.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_miller.min.js"></script>
    <script src="../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

</head>
<body>
<div>
    <form th:replace="nav-bar.html :: nav-bar"></form>
    <!--     CONTAINER AREA FOR FILLING-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <h4 class="page-title">Work Item</h4>
                <div class="row">
                    <div class="col-md-8">
                        <!--     Filling form-->

                        <form action="#" th:action="@{/teams/new}" th:object="${team}"
                              method="post">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title" th:text="#{workItem.navigation.create}"></div>
                                </div>

                                <div class="card-body">
                                    <div class="form-group">
                                        <label th:text="#{workItem.label.title}">Team Name</label>
                                        <input type="text" th:field="*{name}" class="form-control input-square"
                                               name="login" placeholder="title">
                                        <label class="error" th:errors="*{name}">Team name error placeholder</label>
                                    </div>
                                </div>
                                <input class="form-control"
                                       type="hidden"
                                       th:value="${loggedUser.getId()}" id="membersId" name="membersId" />
                                <div class="card-body">
                                    <div class="card-action">
                                        <button class="btn btn-success">Create</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
</div>

</body>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/demo.js"></script>
</html>