<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Team members</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../css/ready.css">
    <link rel="stylesheet" href="../../css/demo.css">
    <script src="../../js/core/jquery.3.2.1.min.js"></script>
    <script src="../../js/core/bootstrap.min.js"></script>
    <script src="../../js/core/popper.min.js"></script>
    <script src="../../js/demo.js"></script>
    <script src="../../js/ready.js"></script>
    <script src="../../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="../../js/plugin/chart-circle/circles.min.js"></script>
    <script src="../../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <script src="../../js/plugin/chartist/chartist.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/france_departments.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/france_departments.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/usa_states.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_mercator.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_mercator.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_miller.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_miller.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="../../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

</head>
<body>
<form th:replace="nav-bar.html :: nav-bar"></form>


    <div class="main-panel">
        <div class="content">
            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                  th:object="${newMembers}" method="post">
                <select  th:field="*{memberId}" >-->
                    <option th:each="user : ${allUsers}"
                            th:value="${user.getId()}"
                            th:text="${user.getFirstName()} ">
                    </option>
                </select>
                <input type="submit" class="btn btn-primary bg-danger" value="Invite"/>
            </form>

            <div class="container-fluid">
                <table class="table-sm table  bg-light table-hover center">
                    <tr class="table-secondary">
                        <th th:text="#{user.label.photo}">Photo</th>
                        <th th:text="#{user.label.name}">Name</th>
                        <th th:text="#{user.label.username}">username</th>
                        <th th:text="#{user.label.email}">email</th>
                    </tr>
                    <tr th:each="member : ${members}">
                        <td>
                            <img th:src="'http://localhost:8080/api/users/photo/' + ${member.getPhotoName()}"
                                 alt="user-img" width="60" class="img-circle">
                        </td>
                        <td>
                            <a href="#" th:href="@{/users/{id}(id=${member.getId()})}" th:text="${member.getFirstName()} + ' ' + ${member.getLastName()}">Name</a>
                        </td>

                        <td>
                            <a th:text="${member.getUsername()}">username</a>
                        </td>

                        <td>
                            <a th:text="${member.getEmail()}">email</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

</body>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/demo.js"></script>
</html>