<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>User</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../css/ready.css">
    <link rel="stylesheet" href="../css/demo.css">
    <script src="../js/core/jquery.3.2.1.min.js"></script>
    <script src="../js/core/bootstrap.min.js"></script>
    <script src="../js/core/popper.min.js"></script>
    <script src="../js/demo.js"></script>
    <script src="../js/ready.js"></script>
    <script src="../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="../js/plugin/chart-circle/circles.min.js"></script>
    <script src="../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <script src="../js/plugin/chartist/chartist.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/france_departments.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/france_departments.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/usa_states.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_mercator.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_mercator.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_miller.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_miller.min.js"></script>
    <script src="../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
</head>
<body>
<form th:replace="nav-bar.html :: nav-bar"></form>

    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <section>
                    <div class="container py-5">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card mb-4">
                                    <div class="card-body text-center">
                                        <img th:src="'http://localhost:8080/api/users/photo/' + ${user.getPhotoName()}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                                        <br><br>
                                        <hr>
                                        <div th:if="${loggedUser.getId()} == ${user.getId()}" class="d-flex justify-content-center mb-2">
                                            <a type="button" class="btn btn-outline-primary ms-1"  th:href="@{__${#httpServletRequest.requestURI}__/photo}" href="#">Update Picture</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0" >Full Name</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()} " >User's Name</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Email</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" th:text="${user.getEmail()} " >User's eMail</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p class="mb-0">Phone</p>
                                            </div>
                                            <div class="col-sm-9">
                                                <p class="text-muted mb-0" th:text="${user.getPhoneNumber()} " >User's phone number</p>
                                            </div>
                                        </div>
                                        <hr>
                                        <div th:if="${loggedUser.getId()} == ${user.getId()}">
                                            <div class="d-flex justify-content-center mb-2">
                                                <a type="button" class="btn btn-outline-primary ms-1"  th:href="@{__${#httpServletRequest.requestURI}__/update}" href="#">Update Profile</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
</div>

</body>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/demo.js"></script>
</html>