<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Work Item</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../css/ready.css">
    <link rel="stylesheet" href="../css/demo.css">
    <script src="../js/core/jquery.3.2.1.min.js"></script>
    <script src="../js/core/bootstrap.min.js"></script>
    <script src="../js/core/popper.min.js"></script>
    <script src="../js/demo.js"></script>
    <script src="../js/ready.js"></script>
    <script src="../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="../js/plugin/chart-circle/circles.min.js"></script>
    <script src="../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <script src="../js/plugin/chartist/chartist.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/france_departments.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/france_departments.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/usa_states.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_mercator.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_mercator.min.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_miller.js"></script>
    <script src="../js/plugin/jquery-mapael/maps/world_countries_miller.min.js"></script>
    <script src="../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

</head>
<body>
<form th:replace="nav-bar.html :: nav-bar"></form>
<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Work Item</h4>
            <!--     CONTAINER AREA FOR FILLING-->
            <section>
                <div class="col-lg-15">
                    <div class="card mb-3">
                        <h3 class="text-muted mb-1 text-center" th:text="${workItem.getTitle()}">Title</h3>
                    </div>
                </div>
                <div class="container py-2">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card mb-3">
                                <div class="card-body text-center">
                                    <img th:src="'http://localhost:8080/api/users/photo/' + ${workItem.getCreator().getPhotoName()}"
                                         alt="avatar" class="rounded-circle img-fluid" style="width: 110px;">
                                    <br><br>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p class="text-muted mb-0" th:text="#{workItem.label.creator}">
                                                Creator</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="text-muted text-lg-center mb-0"
                                               th:text="${workItem.getCreator().getFirstName()} + ' ' + ${workItem.getCreator().getLastName()} ">
                                                name of creator</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <img th:src="'http://localhost:8080/api/users/photo/' + ${workItem.getReviewer().getPhotoName()}"
                                         alt="avatar" class="rounded-circle img-fluid" style="width: 110px;">
                                    <br><br>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p class="text-muted mb-0" th:text="#{workItem.label.reviewer}">
                                                Reviewer</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="text-muted text-lg-center mb-0"
                                               th:text="${workItem.getReviewer().getFirstName()} + ' ' + ${workItem.getReviewer().getLastName()} ">
                                                name of reviewer</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <p class="text-muted mb-0" th:text="#{workItem.label.team}">Team</p>
                                        </div>
                                        <div class="col-sm-7">
                                            <p class="text-muted text-lg-center mb-0"
                                               th:text="${workItem.getTeam().getName()} ">Team name</p>
                                        </div>
                                    </div>
                                    <br>
                                    <hr>
                                    <div th:if="${loggedUser.getId()} == ${workItem.getReviewer().getId()}" class="row">
                                        <div class="col-sm-9 ">
                                            <h6 class="text-muted text-center mb-0" th:text="#{workItem.label.review}">
                                                Add review</h6>
                                            <form action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                                                  th:object="${responseDto}" method="post">

                                                <label class="text-muted  mb-0" th:text="#{workItem.label.status.set}">Deliver
                                                    to customer's
                                                    address</label>
                                                <br>
                                                <select th:field="*{statusId}">
                                                    <option value="2">Under Review</option>
                                                    <option value="3">Change Requested</option>
                                                    <option value="4">Accepted</option>
                                                    <option value="5">Rejected</option>
                                                </select>
                                                <hr>
                                                <label class="text-muted  mb-0" th:text="#{workItem.label.comment}">Deliver
                                                    to customer's
                                                    address</label>
                                                <br>
                                                <textarea type="text" name="input" id="text_field"
                                                          th:field="*{comment}">  </textarea>
                                                <br>

                                                <input class="btn btn-warning" type="submit" value="Save"/>
                                                <br/><br/>
                                            </form>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0" th:text="#{workItem.label.status}">Status</p>
                                        </div>
                                        <div class="col-sm-9 text-center">
                                            <p class="text-muted text-lg-center mb-0"
                                               th:text="${workItem.getStatus().getStatusName()} ">Status</p>

                                            <svg th:if="${workItem.getStatus().getStatusName()} == 'Pending'"
                                                 xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                                                 fill="currentColor" class="bi bi-eye-slashr" viewBox="0 0 16 16">
                                                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                                <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                                            </svg>
                                            <svg th:if="${workItem.getStatus().getStatusName()} == 'Under Review'"
                                                 xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                                                 fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                                                <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                            </svg>
                                            <svg th:if="${workItem.getStatus().getStatusName()} == 'Change Requested'"
                                                 xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                                                 fill="currentColor" class="bi bi-pencil-square"
                                                 viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd"
                                                      d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                            <svg th:if="${workItem.getStatus().getStatusName()} == 'Accepted'"
                                                 xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                                                 fill="currentColor" class="bi bi-clipboard-check"
                                                 viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                            </svg>
                                            <svg th:if="${workItem.getStatus().getStatusName()} == 'Rejected'"
                                                 xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                                                 fill="currentColor" class="bi bi-clipboard-x" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
                                                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                                                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                                            </svg>


                                        </div>
                                    </div>
                                    <hr>
                                    <div th:if="${#lists.size(comments) > 0}" class="row text-center">
                                        <div class="col-sm-3">
                                            <p class="mb-0" th:text="#{workItem.label.comments}">Comments</p>
                                        </div>
                                        <div th:if="${#lists.size(comments) > 0}">
                                            <div class="col-sm-10 text-center">
                                                <table class="table table-hover">
                                                    <tr th:each="comment: ${comments}">
                                                        <td th:text="${comment.getTimestamp()}">Attachment</td>
                                                        <td th:text="${comment.getCommentContent()}">Attachment</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <hr th:if="${#lists.size(comments) > 0}">
                                    <div th:unless="${#strings.isEmpty(workItem.getFile())}" class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0" th:text="#{workItem.label.file}">File</p>
                                        </div>
                                        <div class="col-sm-9 text-center">
                                            <p class="text-muted text-lg-center mb-0">Download
                                            <p>
                                                <a th:href="'http://localhost:8080/api/users/photo/' + ${workItem.getFile()}"
                                                   download>
                                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr42XHVb9LBPflpNhIazPhIoVDPvN5NgV_gA&usqp=CAU"
                                                         alt="W3Schools" width="104" height="104">
                                                </a>
                                        </div>
                                    </div>
                                    <hr th:unless="${#strings.isEmpty(workItem.getFile())}">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0" th:text="#{workItem.label.attachments}">File</p>
                                        </div>
                                        <div class="col-sm-9 text-center">
                                            <table class="table table-hover">
                                                <tr th:each="attachment : ${attachments}">
                                                    <a th:text="${attachment.getAttachmentName()}"
                                                       th:href="'http://localhost:8080/api/users/photo/' + ${attachment.getAttachmentName()}"
                                                       download>Attachment</a>
                                                    <br>
                                                </tr>
                                            </table>
                                            <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/attach}"
                                               th:text="#{workItem.label.attachment.add}" class="btn btn-warning">Warning</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0" th:text="#{workItem.label.description}">Description</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted text-lg-center mb-0"
                                               th:text="${workItem.getDescription()} ">Description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</div>
</div>
</body>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/demo.js"></script>
<script type="text/javascript">
    var iconClass = ['la-500px', 'la-adjust', 'la-adn', 'la-align-center', 'la-align-justify',
        'la-align-left', 'la-align-right', 'la-amazon', 'la-ambulance', 'la-anchor', 'la-android', 'la-angellist', 'la-angle-double-down', 'la-angle-double-left', 'la-angle-double-right', 'la-angle-double-up', 'la-angle-down', 'la-angle-left', 'la-angle-right', 'la-angle-up', 'la-apple', 'la-archive', 'la-area-chart', ' la-arrow-circle-down', 'la-arrow-circle-left', 'la-arrow-circle-o-down', 'la-arrow-circle-o-left', 'la-arrow-circle-o-right', 'la-arrow-circle-o-up', 'la-arrow-circle-right', 'la-arrow-circle-up', 'la-arrow-down', 'la-arrow-left', 'la-arrow-right', 'la-arrow-up', 'la-arrows', 'la-arrows-alt', 'la-arrows-h', 'la-arrows-v', 'la-asterisk', 'la-at', 'la-automobile', 'la-backward', 'la-balance-scale', 'la-ban', 'la-bank', 'la-bar-chart', 'la-bar-chart-o', 'la-barcode', 'la-bars', 'la-battery-0', 'la-battery-1', 'la-battery-2', 'la-battery-3', 'la-battery-4', 'la-battery-empty', 'la-battery-full', 'la-battery-half', 'la-battery-quarter', 'la-battery-three-quarters', 'la-bed', 'la-beer', 'la-behance', 'la-behance-square', 'la-bell', 'la-bell-o', 'la-bell-slash', 'la-bell-slash-o', 'la-bicycle', 'la-binoculars', 'la-birthday-cake', 'la-bitbucket', 'la-bitbucket-square', 'la-bitcoin', 'la-black-tie', 'la-bold', 'la-bolt', 'la-bomb', 'la-book', 'la-bookmark', 'la-bookmark-o', 'la-briefcase', 'la-btc', 'la-bug', 'la-building', 'la-building-o', 'la-bullhorn', 'la-bullseye', 'la-bus', 'la-buysellads', 'la-cab', 'la-calculator', 'la-calendar', 'la-calendar-check-o', 'la-calendar-minus-o', 'la-calendar-o', 'la-calendar-plus-o', 'la-calendar-times-o', 'la-camera', 'la-camera-retro', 'la-car', 'la-caret-down', 'la-caret-left', 'la-caret-right', 'la-caret-square-o-down', 'la-toggle-down', 'la-caret-square-o-left', 'la-toggle-left', 'la-caret-square-o-right', 'la-toggle-right', 'la-caret-square-o-up', 'la-toggle-up', 'la-caret-up', 'la-cart-arrow-down', 'la-cart-plus', 'la-cc', 'la-cc-amex', 'la-cc-diners-club', 'la-cc-discover', 'la-cc-jcb', 'la-cc-mastercard', 'la-cc-paypal', 'la-cc-stripe', 'la-cc-visa', 'la-certificate', 'la-chain', 'la-chain-broken', 'la-check', 'la-check-circle', 'la-check-circle-o', 'la-check-square', 'la-check-square-o', 'la-chevron-circle-down', 'la-chevron-circle-left', 'la-chevron-circle-right', 'la-chevron-circle-up', 'la-chevron-down', 'la-chevron-left', 'la-chevron-right', 'la-chevron-up', 'la-child', 'la-chrome', 'la-circle', 'la-circle-o', 'la-circle-o-notch', 'la-circle-thin', 'la-clipboard', 'la-clock-o', 'la-clone', 'la-close', 'la-cloud', 'la-cloud-download', 'la-cloud-upload', 'la-cny', 'la-code', 'la-code-fork', 'la-codepen', 'la-coffee', 'la-cog', 'la-cogs', 'la-columns', 'la-comment', 'la-comment-o', 'la-commenting', 'la-commenting-o', 'la-comments', 'la-comments-o', 'la-compass', 'la-compress', 'la-connectdevelop', 'la-contao', 'la-copy', 'la-copyright', 'la-creative-commons', 'la-credit-card', 'la-crop', 'la-crosshairs', 'la-css3', 'la-cube', 'la-cubes', 'la-cut', 'la-cutlery', 'la-dashboard', 'la-dashcube', 'la-database', 'la-dedent', 'la-delicious', 'la-desktop', 'la-deviantart', 'la-diamond', 'la-digg', 'la-dollar', 'la-dot-circle-o', 'la-download', 'la-dribbble', 'la-dropbox', 'la-drupal', 'la-edit', 'la-eject', 'la-ellipsis-h', 'la-ellipsis-v', 'la-empire', 'la-ge', 'la-envelope', 'la-envelope-o', 'la-envelope-square', 'la-eraser', 'la-eur', 'la-euro', 'la-exchange', 'la-exclamation', 'la-exclamation-circle', 'la-exclamation-triangle', 'la-expand', 'la-expeditedssl', 'la-external-link', 'la-external-link-square', 'la-eye', 'la-eye-slash', 'la-eyedropper', 'la-facebook', 'la-facebook-f', 'la-facebook-official', 'la-facebook-square', 'la-fast-backward', 'la-fast-forward', 'la-fax', 'la-female', 'la-fighter-jet', 'la-file', 'la-file-archive-o', 'la-file-audio-o', 'la-file-code-o', 'la-file-excel-o', 'la-file-image-o', 'la-file-movie-o', 'la-file-o', 'la-file-pdf-o', 'la-file-photo-o', 'la-file-picture-o', 'la-file-powerpoint-o', 'la-file-sound-o', 'la-file-text', 'la-file-text-o', 'la-file-video-o', 'la-file-word-o', 'la-file-zip-o', 'la-files-o', 'la-film', 'la-filter', 'la-fire', 'la-fire-extinguisher', 'la-firefox', 'la-flag', 'la-flag-checkered', 'la-flag-o', 'la-flash', 'la-flask', 'la-flickr', 'la-floppy-o', 'la-folder', 'la-folder-o', 'la-folder-open', 'la-folder-open-o', 'la-font', 'la-fonticons', 'la-forumbee', 'la-forward', 'la-foursquare', 'la-frown-o', 'la-futbol-o', 'la-soccer-ball-o', 'la-gamepad', 'la-gavel', 'la-gbp', 'la-gear', 'la-gears', 'la-genderless', 'la-get-pocket', 'la-gg', 'la-gg-circle', 'la-gift', 'la-git', 'la-git-square', 'la-github', 'la-github-alt', 'la-github-square', 'la-glass', 'la-globe', 'la-google', 'la-google-plus', 'la-google-plus-square', 'la-google-wallet', 'la-graduation-cap', 'la-gratipay', 'la-gittip', 'la-group', 'la-h-square', 'la-hacker-news', 'la-hand-grab-o', 'la-hand-lizard-o', 'la-hand-o-down', 'la-hand-o-left', 'la-hand-o-right', 'la-hand-o-up', 'la-hand-paper-o', 'la-hand-peace-o', 'la-hand-pointer-o', 'la-hand-rock-o', 'la-hand-scissors-o', 'la-hand-spock-o', 'la-hand-stop-o', 'la-hdd-o', 'la-header', 'la-headphones', 'la-heart', 'la-heart-o', 'la-heartbeat', 'la-history', 'la-home', 'la-hospital-o', 'la-hotel', 'la-hourglass', 'la-hourglass-1', 'la-hourglass-2', 'la-hourglass-3', 'la-hourglass-end', 'la-hourglass-half', 'la-hourglass-o', 'la-hourglass-start', 'la-houzz', 'la-html5', 'la-i-cursor', 'la-ils', 'la-image', 'la-inbox', 'la-indent', 'la-industry', 'la-info', 'la-info-circle', 'la-inr', 'la-instagram', 'la-institution', 'la-internet-explorer', 'la-ioxhost', 'la-italic', 'la-joomla', 'la-jpy', 'la-jsfiddle', 'la-key', 'la-keyboard-o', 'la-krw', 'la-language', 'la-laptop', 'la-lastfm', 'la-lastfm-square', 'la-leaf', 'la-leanpub', 'la-legal', 'la-lemon-o', 'la-level-down', 'la-level-up', 'la-life-bouy', 'la-life-buoy', 'la-life-ring', 'la-support', 'la-life-saver', 'la-lightbulb-o', 'la-line-chart', 'la-link', 'la-linkedin', 'la-linkedin-square', 'la-linux', 'la-list', 'la-list-alt', 'la-list-ol', 'la-list-ul', 'la-location-arrow', 'la-lock', 'la-long-arrow-down', 'la-long-arrow-left', 'la-long-arrow-right', 'la-long-arrow-up', 'la-magic', 'la-magnet', 'la-mail-forward', 'la-mail-reply', 'la-mail-reply-all', 'la-male', 'la-map', 'la-map-marker', 'la-map-o', 'la-map-pin', 'la-map-signs', 'la-mars', 'la-mars-stroke-v', 'la-maxcdn', 'la-meanpath', 'la-medium', 'la-medkit', 'la-meh-o', 'la-mercury', 'la-microphone', 'la-microphone-slash', 'la-minus', 'la-minus-circle', 'la-minus-square', 'la-minus-square-o', 'la-mobile', 'la-mobile-phone', 'la-money', 'la-moon-o', 'la-mortar-board', 'la-motorcycle', 'la-mouse-pointer', 'la-music', 'la-navicon', 'la-neuter', 'la-newspaper-o', 'la-object-group', 'la-object-ungroup', 'la-odnoklassniki', 'la-odnoklassniki-square', 'la-opencart', 'la-openid', 'la-opera', 'la-optin-monster', 'la-outdent', 'la-pagelines', 'la-paint-brush', 'la-paper-plane', 'la-send', 'la-paper-plane-o', 'la-send-o', 'la-paperclip', 'la-paragraph', 'la-paste', 'la-pause', 'la-paw', 'la-paypal', 'la-pencil', 'la-pencil-square', 'la-pencil-square-o', 'la-phone', 'la-phone-square', 'la-photo', 'la-picture-o', 'la-pie-chart', 'la-pied-piper', 'la-pied-piper-alt', 'la-pinterest', 'la-pinterest-p', 'la-pinterest-square', 'la-plane', 'la-play', 'la-play-circle', 'la-play-circle-o', 'la-plug', 'la-plus', 'la-plus-circle', 'la-plus-square', 'la-plus-square-o', 'la-power-off', 'la-print', 'la-puzzle-piece', 'la-qq', 'la-qrcode', 'la-question', 'la-question-circle', 'la-quote-left', 'la-quote-right', 'la-ra', 'la-random', 'la-rebel', 'la-recycle', 'la-reddit', 'la-reddit-square', 'la-refresh', 'la-registered', 'la-renren', 'la-reorder', 'la-repeat', 'la-reply', 'la-reply-all', 'la-retweet', 'la-rmb', 'la-road', 'la-rocket', 'la-rotate-left', 'la-rotate-right', 'la-rouble', 'la-rss', 'la-feed', 'la-rss-square', 'la-rub', 'la-ruble', 'la-rupee', 'la-safari', 'la-save', 'la-scissors', 'la-search', 'la-search-minus', 'la-search-plus', 'la-sellsy', 'la-server', 'la-share', 'la-share-alt', 'la-share-alt-square', 'la-share-square', 'la-share-square-o', 'la-shekel', 'la-sheqel', 'la-shield', 'la-ship', 'la-shirtsinbulk', 'la-shopping-cart', 'la-sign-in', 'la-sign-out', 'la-signal', 'la-simplybuilt', 'la-sitemap', 'la-skyatlas', 'la-skype', 'la-slack', 'la-sliders', 'la-slideshare', 'la-smile-o', 'la-sort', 'la-unsorted', 'la-sort-alpha-asc', 'la-sort-alpha-desc', 'la-sort-amount-asc', 'la-sort-amount-desc', 'la-sort-asc', 'la-sort-up', 'la-sort-desc', 'la-sort-down', 'la-sort-numeric-asc', 'la-sort-numeric-desc', 'la-soundcloud', 'la-space-shuttle', 'la-spinner', 'la-spoon', 'la-spotify', 'la-square', 'la-square-o', 'la-stack-exchange', 'la-stack-overflow', 'la-star', 'la-star-half', 'la-star-half-o', 'la-star-half-full', 'la-star-half-empty', 'la-star-o', 'la-steam', 'la-steam-square', 'la-step-backward', 'la-step-forward', 'la-stethoscope', 'la-sticky-note', 'la-sticky-note-o', 'la-stop', 'la-street-view', 'la-strikethrough', 'la-stumbleupon', 'la-stumbleupon-circle', 'la-subscript', 'la-subway', 'la-suitcase', 'la-sun-o', 'la-superscript', 'la-table', 'la-tablet', 'la-tachometer', 'la-tag', 'la-tags', 'la-tasks', 'la-taxi', 'la-television', 'la-tv', 'la-tencent-weibo', 'la-terminal', 'la-text-height', 'la-text-width', 'la-th', 'la-th-large', 'la-th-list', 'la-thumb-tack', 'la-thumbs-down', 'la-thumbs-o-down', 'la-thumbs-o-up', 'la-thumbs-up', 'la-ticket', 'la-times', 'la-remove', 'la-times-circle', 'la-times-circle-o', 'la-tint', 'la-toggle-off', 'la-toggle-on', 'la-trademark', 'la-train', 'la-trash', 'la-trash-o', 'la-tree', 'la-trello', 'la-tripadvisor', 'la-trophy', 'la-truck', 'la-try', 'la-tty', 'la-tumblr', 'la-tumblr-square', 'la-turkish-lira', 'la-twitch', 'la-twitter', 'la-twitter-square', 'la-umbrella', 'la-underline', 'la-undo', 'la-university', 'la-unlink', 'la-unlock', 'la-unlock-alt', 'la-upload', 'la-usd', 'la-user', 'la-user-md', 'la-user-plus', 'la-user-secret', 'la-user-times', 'la-users', 'la-venus', 'la-venus-double', 'la-venus-mars', 'la-viacoin', 'la-video-camera', 'la-vimeo', 'la-vimeo-square la-vine la-vk la-volume-down la-volume-off la-volume-up la-warning la-wechat', 'la-weibo', 'la-weixin', 'la-whatsapp', 'la-wheelchair', 'la-wifi', 'la-wikipedia-w', 'la-windows', 'la-won', 'la-wordpress', 'la-wrench', 'la-xing', 'la-xing-square', 'la-y-combinator', 'la-y-combinator-square', 'la-yahoo', 'la-yc', 'la-yc-square', 'la-yelp', 'la-yen', 'la-youtube', 'la-youtube-play', 'la-youtube-square'
    ];
    var rowDemoIcon = "#row-demo-icon";
    for (i = 0; i < iconClass.length; i++) {
        $(rowDemoIcon).append('<div class="col-md-3"> <div class="demo-icon"> <div class="icon-preview"><i class="la ' + iconClass[i] + '"></i></div> <div class="icon-class">la ' + iconClass[i] + '</div> </div> </div>');
    }
</script>
</html>