<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Work Items</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="../../css/ready.css">
    <link rel="stylesheet" href="../../css/demo.css">
    <script src="../../js/core/jquery.3.2.1.min.js"></script>
    <script src="../../js/core/bootstrap.min.js"></script>
    <script src="../../js/core/popper.min.js"></script>
    <script src="../../js/demo.js"></script>
    <script src="../../js/ready.js"></script>
    <script src="../../js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="../../js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <script src="../../js/plugin/chart-circle/circles.min.js"></script>
    <script src="../../js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
    <script src="../../js/plugin/chartist/chartist.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/france_departments.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/france_departments.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/usa_states.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/usa_states.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_mercator.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_mercator.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_miller.js"></script>
    <script src="../../js/plugin/jquery-mapael/maps/world_countries_miller.min.js"></script>
    <script src="../../js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
    <script src="../../js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../../js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <!--	<link rel="stylesheet" href="../stylesCustom.css">-->


</head>
<body>
<form th:replace="nav-bar.html :: nav-bar"></form>

<div class="main-panel">
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Work Items</h4>



            <div>
                        <form class="form-horizontal" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
                              th:method="post"
                              th:object="${searchWorkItemDto}">

                            <div class="form-group same-line col-sm">
                                <label th:text="#{workItem.label.title}">title</label>
                                <br/>
                                <input th:default="''" type="text" th:field="*{title}" placeholder="Title"
                                       class="form-control form-control-sm"/>
                            </div>
                            <!--th:unless="${addressee} == 'Reviewer'"-->
                            <div class="form-group same-line col-sm">
                                <label th:text="#{workItem.label.creator}">creator</label>
                                <br/>
                                <select class="form-control form-control-sm" th:field="*{creatorUsername}">
                                    <option selected th:value="''" th:text="#{workItem.label.creator}">sort</option>
                                    <option th:each="user : ${allUsers}"
                                            th:value="${user.getUsername()}"
                                            th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">
                                        CityOne
                                    </option>
                                </select>
                            </div>

                            <!--                        th:unless="${addressee} == 'Creator'"-->
                            <div class="form-group same-line col-sm">
                                <label th:text="#{workItem.label.reviewer}">reviewer</label>
                                <br/>
                                <select class="form-control form-control-sm" th:field="*{reviewerUsername}">
                                    <option selected th:value="''" th:text="#{workItem.label.reviewer}">sort
                                    </option>
                                    <option th:each="user : ${allUsers}"
                                            th:value="${user.getUsername()}"
                                            th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">
                                        CityOne
                                    </option>
                                </select>
                            </div>

                            <!--                        th:if="${addressee} == 'Team'"-->
                            <div class="form-group same-line col-sm">
                                <label th:text="#{workItem.label.team}">team</label>
                                <br/>
                                <select class="form-control form-control-sm" th:field="*{teamId}">
                                    <option selected th:value="-1" th:text="#{workItem.label.team}">sort</option>
                                    <option th:each="team : ${userTeams}"
                                            th:value="${team.getId()}"
                                            th:text="${team.getName()}">
                                        CityOne
                                    </option>
                                </select>
                            </div>


                            <div class="form-group same-line col-sm">
                                <label th:text="#{workItem.label.status}">status</label>
                                <br/>
                                <select class="form-control form-control-sm" th:field="*{statusId}">
                                    <option selected th:value="-1" th:text="#{workItem.label.status}">sort</option>
                                    <option th:each="status : ${statuses}"
                                            th:value="${status.getId()}"
                                            th:text="${status.getStatusName()}">
                                        CityOne
                                    </option>
                                </select>
                            </div>


                            <div class="form-group same-line col-sm">
                                <label th:text="#{workItem.label.sort}">sort</label>
                                <br/>
                                <select class="form-control form-control-sm" th:field="*{sort}">
                                    <option value="''" th:text="#{workItem.label.sort}">sort</option>
                                    <option th:each="sortParam : ${sortParams}"
                                            th:value="${sortParam}"
                                            th:text="${sortParam}">
                                        CityOne
                                    </option>
                                </select>
                                <br>
                                <button class="btn btn-primary" type="submit">Search</button>
                            </div>

                            </br>
                        </form>

            </div>
            <table class="table-sm table  bg-light table-hover center">
                <tr class="table-secondary">
                    <th th:text="#{workItem.label.title}">Title</th>
                    <th th:text="#{workItem.label.status}">Status</th>
                    <th th:text="${addressee}">Reviewer</th>
                    <th th:text="#{workItem.label.team}">Shipment</th>

                </tr>
                <tr th:each="workitem : ${workItems}">
                    <td>
                        <a href="#" th:href="@{/work_items/{id}(id=${workitem.getId()})}"
                           th:text="${workitem.getTitle()}">Title</a>
                    </td>
                    <td class="text-center">
                        <th:block th:switch="${workitem.getStatus().getStatusName().toString().toUpperCase()}">
                            <div th:case="'PENDING'">
                                <span class="text-white badge bg-secondary rounded-pill">pending</span>
                            </div>
                            <div th:case="'UNDER REVIEW'">
                                <span class="text-white badge bg-primary rounded-pill">under review</span>
                            </div>
                            <div th:case="'CHANGE REQUESTED'">
                                <span class="text-white badge bg-warning rounded-pill">change requested</span>
                            </div>
                            <div th:case="'ACCEPTED'">
                                <span class="text-white badge bg-success rounded-pill">accepted</span>
                            </div>
                            <div th:case="'REJECTED'">
                                <span class="text-white badge bg-danger rounded-pill">rejected</span>
                            </div>
                        </th:block>
                    </td>
                    <td class="text-center  ">
                        <a th:if="${addressee} == 'Reviewer'" href="#"
                           th:href="@{/users/{id}(id=${workitem.getReviewer().getId()})}"
                           th:text="${workitem.getReviewer().getFirstName()} + ' '+ ${workitem.getReviewer().getLastName()}">Reviewer
                            name</a>
                        <a th:if="${addressee} == 'Creator'" href="#"
                           th:href="@{/users/{id}(id=${workitem.getCreator().getId()})}"
                           th:text="${workitem.getCreator().getFirstName()} + ' '+ ${workitem.getCreator().getLastName()}">Reviewer
                            name</a>
                    </td>
                    <td th:text="${workitem.getTeam().getName()}">Team</td>
                </tr>
            </table>


        </div>
    </div>
</div>
</div>
</div>
</div>
</body>
<script src="assets/js/core/jquery.3.2.1.min.js"></script>
<script src="assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="assets/js/core/popper.min.js"></script>
<script src="assets/js/core/bootstrap.min.js"></script>
<script src="assets/js/plugin/chartist/chartist.min.js"></script>
<script src="assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js"></script>
<script src="assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/jquery.mapael.min.js"></script>
<script src="assets/js/plugin/jquery-mapael/maps/world_countries.min.js"></script>
<script src="assets/js/plugin/chart-circle/circles.min.js"></script>
<script src="assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/js/ready.min.js"></script>
<script src="assets/js/demo.js"></script>
</html>